---
import Layout from '../layouts/Layout.astro';

---

<Layout title="Prueba de Astro">
	<main>
		<h1>Prueba de Astro</h1>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima iste minus officiis aut libero nobis alias suscipit, harum amet sint saepe similique non ab atque reprehenderit culpa magnam adipisci perferendis?
		Ipsam voluptate animi sit quos nobis beatae odio repudiandae eaque. Aliquam accusamus minima repellat soluta? Vel laudantium facilis nam sunt facere blanditiis, corrupti a, libero, recusandae expedita commodi autem quaerat.</p>
	</main>
</Layout>


