---

---
<div class="presentacion" >

    <div class="grid-layout-presenta1">
   
        <div class="caja1-presenta">
            <p>
            <em>Inicio/DNIA</em>
            </p>
        </div>


        <div class="caja2-presenta">
            <p>
                <img src="images/linea.png" alt="" width="100%">
            </p>
        </div>


   
        <div class="caja3-presenta">
            <p>
            <a href="https://www.instagram.com/dniaunal/" target="_blank"><img src="images/instagram.png" alt="instagram" width="40"></a> &nbsp;
            <a href="https://www.linkedin.com/company/direcci%C3%B3n-nacional-de-innovaci%C3%B3n-acad%C3%A9mica/?viewAsMember=true&amp;original_referer=http%3A%2F%2Fred.unal.edu.co%2F" target="_blank"><img src="images/likedink.png" alt="likedink" width="40"></a> &nbsp;
            </p>
        </div>

    </div>

    <div class="videop">
        <p>
        <img src="images/videogif/presentacion2.gif" data-align="center"  data-entity-type="file" alt="" width="100%">
        </p>
    </div>

    <div class="flecha-presentacion">
        <p>
        <a href="#homevideo"><img src="images/videogif/flecha.gif" data-align="center"  data-entity-type="file" alt="" width="50"></a>
        </p>
    </div>
      

</div>