---
interface Props {
	title: string;
}
const { title } = Astro.props;
import '@fontsource-variable/rosario';
import '@fontsource-variable/playfair-display';
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="TODOS" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	
	html {
		font-family: 'Rosario Variable', sans-serif;
		background: #13151a;
		color: white;
		font-style: italic;
	}

	h1, h2, h3, h4, h5, h6 {
	font-family: 'Playfair Display Variable', serif;
	}
	
</style>
